@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #ffffff;
  --black: #000000;
  --gray950: #151515;
  --gray500: #686868;
  --gray400: #adadad;
  --gray200: #d8d8d8;
  --gray50: #fafafa;
  --blue400: #4bb1da;
  --violet500: #726cee;
  --yellow300: #edd556;
  --purple600: #8e4cb6;
}

h1 {
  font-size: 80px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -1px;
  color: var(--gray950);
}

h1 span {
  display: block;
}

p {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.55;
  letter-spacing: 0;
  color: var(--gray500);
  max-width: 445px;
}

.primary-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--gray950);
  color: var(--gray50);
  width: 163px;
  height: 56px;
  border-radius: 15px;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: -0.25px;
  text-decoration: none;
  border: 1px solid var(--gray950);
}

.primary-btn:hover {
  background-color: var(--gray50);
  color: var(--gray950);
}

.secondary-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--gray500);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  width: 104px;
  height: 42px;
  border: 1.5px solid var(--gray500);
  border-radius: 14px;
}

.secondary-btn:hover {
  color: var(--gray950);
  border: 1.5px solid var(--gray950);
}

.site-wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.overlay {
  position: fixed;
  inset: 0;
  background-color: hsla(0, 0%, 8%, 0.75);
  z-index: 900;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.overlay.active {
  opacity: 1;
  pointer-events: auto;
}

body {
  font-family: "Epilogue", sans-serif;
  background-color: var(--gray50);
}

.top-bar {
  display: flex;
  align-items: center;
  gap: 64px;
  width: 100%;
  padding: 32px 40px 75px 40px;
  position: relative;
}

#menu-toggle {
  border: none;
  background: transparent;
  cursor: pointer;
  position: absolute;
  top: 32.5px;
  right: 40px;
  display: none;
}

/* NAVIGATION */

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: relative;
}

.navigation {
  display: flex;
  gap: 40px;
  align-items: center;
  list-style: none;
}

.dropdown-link {
  border: none;
  background: transparent;
  cursor: pointer;
  font-family: inherit;
  display: inline-flex;
  gap: 8px;
  align-items: center;
}

.dropdown {
  display: none;
  flex-direction: column;
  list-style: none;
  gap: 16px;
  padding: 24px;
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: 0 10px 40px 0 hsla(0, 0%, 0%, 0.15);
}

.dropdown-link[aria-expanded="true"] + .dropdown {
  display: grid;
}

.features {
  position: absolute;
  top: 50px;
  left: -72px;
}

.company {
  position: absolute;
  top: 50px;
}

.members {
  display: flex;
  align-items: center;
  gap: 40px;
  list-style: none;
}

.members-link,
.nav-link,
.dropdown-link,
.icon-link {
  color: var(--gray500);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
}

.members-link:hover,
.nav-link:hover,
.dropdown-link:hover,
.icon-link:hover {
  color: var(--gray950);
}

.icon-link {
  display: grid;
  grid-template-columns: 16px auto;
  gap: 16px;
  align-items: center;
}

.icon-link span {
  display: flex;
  justify-content: center;
}

/* NAVIGATION END */

.hero-container {
  max-width: 1225px;
  padding: 0 40px 122px 40px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.hero-content {
  max-width: 540px;
  margin-top: 96px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hero-text {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.hero-marketing {
  display: flex;
  align-items: center;
  gap: 40px;
}

.hero-img {
  display: block;
  max-width: 480px;
}

@media (max-width: 1024px) {
  h1 {
    font-size: 64px;
    text-align: center;
  }

  h1 span {
    display: unset;
  }

  p {
    max-width: 552px;
    text-align: center;
  }

  .nav-container {
    display: none;
  }

  .top-bar {
    padding: 32px 40px 32px 40px;
  }

  #menu-toggle {
    display: block;
    z-index: 99999;
  }

  #menu-toggle.fixed {
    position: fixed;
  }

  .nav-container.active {
    display: flex;
    flex-direction: column;
    justify-content: unset;
    align-items: flex-start;
    gap: 32px;
    height: 100vh;
    width: 283px;
    position: fixed;
    right: 0;
    top: 0;
    overflow-y: auto;
    padding: 80px 40px 32px 48px;
    z-index: 999;
    background-color: var(--white);
  }

  .navigation {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
  }

  .members {
    flex-direction: column;
    gap: 16px;
  }

  .secondary-btn {
    width: 195px;
    height: 42px;
    font-size: 16px;
  }

  .members-link,
  .nav-link,
  .dropdown-link,
  .icon-link {
    color: var(--gray500);
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.55;
  }

  .dropdown {
    display: none;
    flex-direction: column;
    list-style: none;
    gap: 16px;
    padding: 16px 0 0 24px;
    background-color: var(--white);
    border-radius: 0;
    box-shadow: unset;
  }

  .features {
    position: unset;
  }

  .company {
    position: unset;
  }

  .hero-container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    gap: 64px;
    padding: 0 0 50px 0;
  }

  .hero-content {
    max-width: unset;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 56px;
  }

  .hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
  }

  .hero-marketing {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    padding: 0 46px 52px 46px;
  }

  .hero-img {
    max-width: unset;
    width: 100%;
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 36px;
  }

  p {
    font-size: 16px;
  }

  .primary-btn {
    width: 136px;
    height: 48px;
    font-size: 16px;
  }

  #menu-toggle {
    right: 16px;
  }

  .top-bar {
    padding: 32px 16px 24px 16px;
  }

  .nav-container.active {
    width: 240px;
    padding: 80px 20px 32px 24px;
  }

  .hero-container {
    gap: 48px;
    padding: 0;
  }

  .hero-content {
    gap: 48px;
  }

  .hero-text {
    gap: 24px;
    padding: 0 16px;
  }

  .hero-marketing {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    gap: 24px;
    padding: 0 23px 95px 23px;
  }

  .marketing-logo {
    display: block;
    width: 100%;
  }
}
